body{
  background-color: #8FD2F0;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 180vh;
}

.caracteristicas{
  margin-top: 25vh;
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  border-radius: 2%;
}

.bordes{
  background-color: white;
  padding: 20px;
}

h5{
  font-family: 'Open Sans', Helvetica;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 3vh;
}

p{
  font-family: 'Open Sans', Helvetica;
  font-size: 14px;
}

.galeria {
    height: calc(400px + 3em);
    width: 400px;
    margin-top: 55vh;
    margin-left: 20vh;
    border: 1px solid #555;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.galeria img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
}

.galeria input[type=radio] {
    position: relative;
    bottom: -30px;
    margin: 2px;
}

.galeria input[type=radio]:nth-of-type(1):checked~img:nth-of-type(1) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked~img:nth-of-type(2) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked~img:nth-of-type(3) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked~img:nth-of-type(4) {
    opacity: 1;
}
